@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: var(--Charcoal-Grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--White);
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin: 50px auto;
}

.left-column {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 30px;
  margin-top: 30px;
}
.left-column h1 {
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
}

li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 10px 0;
}

.left-column p {
  line-height: 20px;
  margin: 10px 0;
  font-size: 14px;
}

.left-column form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form label {
  font-size: 12px;
  font-weight: 700;
}
label {
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: var(--Tomato);
  visibility: hidden;
}

/* email box styling */
.email {
  font-family: 'Roboto', sans-serif;
  padding: 10px 10px;
  margin-bottom: 10px;
  outline: 2px solid var(--Grey);
  border: none;
  border-radius: 8px;
}

.submit {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: var(--White);
  background-color: var(--Dark-Slate-Grey);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit:hover {
  transition: 0.3s all;
  background-color: var(--Charcoal-Grey);
}

.right-column {
  flex: 1;
}
.right-column img {
  width: 320px;
  height: auto;
  padding: 20px 0;
}
/* modal  */
.modal-overlay {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

.modal h1 {
  font-size: 40px;
}

.modal p {
  font-size: 14px;
  margin: 10px 0;
}
/* Style for the dismiss button */
.dismiss-button {
  background-color: var(--Dark-Slate-Grey); /* Red color for the button */
  color: var(--White);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#email-placeholder {
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--White);
  }
  .container {
    width: 375px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px auto;
  }
  .right-column {
    display: flex;
  }
  .right-column img {
    max-width: 100%;
    height: auto;
    padding: 0;
  }

  .left-column {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
  .left-column h1 {
    font-size: 40px;
  }

  ul {
    margin-bottom: 30px;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 12px;
    margin: 10px 0;
  }

  .left-column p {
    line-height: 20px;
    margin: 10px 0;
    font-size: 14px;
  }

  .left-column form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  form label {
    font-size: 12px;
    font-weight: 700;
  }
  /* modal  */
  .modal-overlay {
    visibility: hidden;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .modal img {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
  }

  .modal h1 {
    font-size: 40px;
  }

  .modal p {
    font-size: 14px;
    margin: 10px 0;
  }
  /* Style for the dismiss button */
  .dismiss-button {
    background-color: var(--Dark-Slate-Grey); /* Red color for the button */
    color: var(--White);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
